/* contactUsStyles.css */




@keyframes imageFadeIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}






.background{
  background-image: url('../images/jess-bailey-q10VITrVYUM-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 55rem;
  margin-top: -1rem;
  margin-bottom: -4rem;

}


.contact-container {
  height: auto;
    border-radius: 5px;
    /* margin-top: 4rem; */
    padding-top: 2rem;
    padding-left: 7rem;
    margin: 0 auto;
    position: relative;
    left: 2%;
    top: 8rem;
    max-width: 33rem;
    width: 33rem;
    /* border: 2px solid black; */
  }
  
  .title-contact {
    font-size: 3rem;
    margin-bottom: 4rem;
    font-family:'Kite One' ;
    color: #fc3b0b;
    margin-left: 2rem;
    
  }
  
  
 
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #000000;
  }
  
  .textarea {
    height: 100px;
    background: transparent;
  }
  
  .submit-button {
    background-color: #fc3b0b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  

@media (max-width: 600px){
  .contact-container {
  
    left: -8%;
    top: 8rem;
    max-width: 33rem;
    width: 27rem;
  }

}


@media (max-width: 450px){

  .contact-container {
    left: -15%;
    top: 8rem;
    max-width: 33rem;
    width: 23rem;
}
}



@media (max-width: 350px){

  .title-contact {
    font-size: 2rem;
  }

  .contact-container {
    left: -30%;
    top: 8rem;
    max-width: 33rem;
    width: 21rem;
}
}