
/* styles.css */

#footer {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
	margin-top: 4rem;
  }
  
  .widget {
	margin-bottom: 20px;
  }
  
  .social-footer2 {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
  }
  
  .social-footer2 li {
	margin-right: 10px;
  }
  
  .social-footer2 li img {
	width: 30px;
	height: 30px;
  }
  
 
  
 
  