@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kite+One&display=swap");

.home-header {
  background-image: url("../images/h4.jpg");
  background-attachment: fixed;
  background-color: #cccccc;
  width: 100%;
  height: 62rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.home-nav {
  display: flex;
  align-items: center;
}

.header-link {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-left: 44rem;
}

.logo {

  object-fit: contain;
  margin-left: 3rem;
  /* margin-top: 0px; */
}
.title {
  position: relative;
  margin-top: 36rem;
  margin-left: 4%;
  font-size: 3rem;
  /* font-family: 'Kaushan Script', cursive; */
  font-family: "Kite One";
  animation: imageFadeIn 1s ease;

}

.title2 {
  display: flex;
  align-content: center;
  margin-top: 2rem;
  margin-left: 18%;
  font-size: 2rem;
  font-family: "Kite One";
  animation: imageFadeIn 2s ease;

}
.memo {
  color: #fc3b0b;
  padding-left: 0.5rem;
  animation: imageFadeIn 3s ease;

}

.link-item {
  margin: 0 1rem;
  text-decoration: none;
  color: black;
  padding-left: 5rem;
  font-size: 1.5rem;
  font-family: "Kite One";
}

.link-item:hover,
.link-item:active {
  color: #fc3b0b;
}


.link-item:active {
  color: #fc3b0b;
}




.all-countries {
 
  margin-bottom: 24rem;
  margin-top: 24rem;
  font-family: "Kite One";
}
.couName {
  font-size: 2rem;
}

.home-countries {
  font-size: 3rem;
  margin-top: 11rem;
  margin-bottom: -17rem;
  margin-left: 40%;
  font-weight: bold;
  color: #fc3b0b;
  font-family: "Kite One";
}

.country-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.country-item-container {
  width: 318px;
  margin: 2rem;
  border-radius: 5px;
  box-shadow: 0 77px 155px rgba(243, 54, 54, 0.1);
  overflow: hidden;
}

.country-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  /* box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1); */
  box-shadow: 5px 10px 18px rgb(235, 170, 170);
}

.country-image:hover {
  transform: scale(1.05);
  width: 20rem;
  height: 20rem;
  margin-bottom: 1rem;
}

.country-item {
  display: block;
  /* margin-bottom: 3rem; */
  width: 20rem;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.country-item:hover {
    background-color: #f5f5f5;
    margin-left: -2rem;
  }

.gall-header {
  background-image: url("../images/fotoalbum-t.jpg");
  background-attachment: fixed;
  background-position: center;

  width: auto;
  height: 55rem;
  margin-top: -9rem;
}

.gallery-container {
  margin-top: 40px;
  text-align: center;
}

.gallery-container p {
  font-size: 44px;
  /* font-size: 24px; */
  font-weight: bold;
  color: #fc3b0b;
  margin-bottom: 10rem;
  margin-top: 10rem;
  font-family: "Kite One";
}

.review-item-img {
  display: inline-block;
  margin: 10px;
}
/* .review-item{
    display: flex;
    flex-direction: row;
  }  */

.gal_img {
  width: 22rem;
  height: 22rem;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.review-image {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.review-item:hover .review-image {
  transform: scale(1.05);
  width: 12rem;
  height: auto;
}
/* .country-item-container:hover {
    transform: scale(1.05);
    width: 25rem;
    height: auto;
  } */

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.articles-container {
  margin-top: 40px;
}

.articles-container h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #fc3b0b;
  margin-bottom: 11rem;
  margin-top: 12rem;
  text-align: center;
  font-family: "Kite One";
}

.article-item {
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Kite One";
}

.article-image {
  width: 48rem;
  height: 37rem;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Kite One";
  margin-left: 3rem;
  margin-right: 4rem;
}

.article-content {
  flex: 1;
  padding: 0 20px;
  margin-right: 4rem;
}

.article-content h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.article-content p {
  font-size: 1.5rem;
  color: #666;
}

.article-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;
  transition: border-color 0.3s ease;
}

.article-link:hover {
  border-color: transparent;
}





















.reviews-container-all {
  max-width: 1112px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  display: flex;
}

.reviews-heading-all {
  text-align: center;
  position: relative;
  margin-top: 14rem;
  color: #fc3b0b;
  font-family: "Kite One";
margin-bottom: 11rem;
  font-size: 4rem;
}

.review-item-all {
  position: relative;
  padding: 20px;
  text-align: center;
  border: #fc3b0b solid 2px;
  margin-left: 10px;
}

.review-image-all {
  position: relative;
  bottom: 2px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
  
}

.review-header {
  margin-bottom: 20px;
}

.review-author {
  position: absolute;
  top: 50px;
  right: 65px;
  font-weight: bold;
}

.review-date {
  color: #888;
  margin-top: 5px;
  position: absolute;
  top: 85px;
  right: 39px;
}

.review-comment {
  margin-top: 10px;
  word-wrap: break-word;
}

.review-divider {
  margin-top: 20px;
  border: none;
  border-top: 1px solid #ccc;
}

.main {
  min-height: 50vh;
  

  width: 97%;
 
  
}

.card {
  background: #f1f1f1;
  border-radius: 8px;
  font-family: "Kite One";
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  
 
  width: 33rem !important;
  
  height: 18rem !important;
  margin-left: 3.5rem;
}
.card img {
  /* box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5); */
  
  width: 46%;
  height: 19rem !important;
  object-fit: cover;
  border-radius: 6px;
  height: 10rem;
  margin-right: 9rem;
  margin-left: -3rem;
}
.card h2 {
  font-size: 18px;
  margin: 8px 0;
  padding: contentPadding;
}

.card h2 a {
  color: #545454;
  text-decoration: none;
}

.card h2 a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card p {
  font-size: 14px;
  font-weight: 300;
  margin: 8px 0 0;
  padding: contentPadding;
  
}

.details {
display: flex;
flex-direction: column;
position: relative;
right: 15%;
 
}
.details h2 {
  font-size: 2rem;
  font-family: "Kite One";
}

.div-mar {
  margin-left: 3rem;
  margin-right: 3rem;
}





























@media screen and (max-width: 1600px) {


.header-link {
 
  padding-left: 8rem;
}
.card {
  
  width: 29rem !important;
 
  margin-left: 2.5rem;

}
}
















@media screen and (max-width: 1500px) {

.card {
  width: 26rem !important;
  margin-left: 3.5rem;
}
}

@media screen and (max-width: 1400px) {

  .card {
    margin-left: 15%;
}

}

@media screen and (max-width: 1250px){
  
  .article-item {
      flex-direction: column;
      margin-bottom: 40px;
      margin-left: 2rem;
      margin-right: 2rem;
  }
  .article-content {

    width: 100%;
    height: auto;
    margin: 0;
}
.article-image {
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 20px;
}
}

@media screen and (max-width: 1150px){
  .card {
    width: 28rem !important;

    margin-left: 3rem;
  }
}

@media screen and (max-width: 1050px){
  .link-item {
    margin: 0 -1rem;
  }
  .card {
    width: 23rem !important;
  }
}

@media screen and (max-width: 900px){
  .link-item {
    font-size: 1rem;
  }
  .card {
    margin-left: 5rem;
    width: 37rem !important;
}

}
@media screen and (max-width: 800px) {


.card img {
 
  margin-right: 14rem;
}
}

@media screen and (max-width: 768px) {
  .home-header {
    height: 40rem;
  }

  .header-link {
    padding-left: 2rem;
  }

  .title {
    margin-top: 20rem;
    margin-left: 1rem;
    font-size: 2rem;
  }

  .title2 {
    margin-left: 10%;
    font-size: 1.5rem;
  }

  .link-item {
    padding-left: 3rem;
    font-size: 1rem;
    margin: 0;
  }

  .home-countries {
    font-size: 2rem;
    margin-top: 7rem;
    margin-bottom: -10rem;
    margin-left: 33%;
  }

  .country-item-container {
    width: 250px;
    margin: 1rem;
  }

  .country-image {
    height: 200px;
  }

  .country-item {
    width: 15rem;
    padding: 10px;
    font-size: 1rem;
  }

  .country-item:hover {
    transform: scale(1.05);
    width: 20rem;
    height: auto;
  }

  .gall-header {
    height: 30rem;
    margin-top: -7rem;
  }

  .gallery-container p {
    font-size: 30px;
    margin-bottom: 5rem;
  }

  .gal_img {
    width: 15rem;
    height: 15rem;
  }

  .article-item {
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .article-image {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 20px;
  }

  .article-content {
    padding: 0;
  }

  .article-content h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .article-content p {
    font-size: 1rem;
  }

  .review-item-all {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .review-image-all {
    width: 100px;
    height: 100px;
  }

  .review-author {
    top: 20px;
    right: 20px;
  }

  .review-date {
    top: 55px;
    right: 20px;
  }

  .main {
    width: 95%;
  }

  .card {
    flex-direction: column !important;
    width: 95% !important;
    height: auto !important;
    margin-bottom: 2rem;
    margin-left: 2rem;

  }


  .card img {
    width: 100%;
    height: auto;
    margin-right: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;


   
  }
  

  .card p {
    font-size: 14px;
    font-weight: 300;
    margin: 8px 0;
    padding: 8px;
    text-align: justify;
    word-wrap: break-word;
    max-width: 17rem;
  }
  .article-content {
    
    margin-right: -1rem;
}
}

@media screen and (max-width: 620px) {
  .logo {
    width: 9rem;
   
      margin-top: 2rem;
  
  }
  .card img {
    
    margin-left: 0rem;
  }

}

@media screen and (max-width: 550px) {
  .link-item {
    padding-left: 2rem;
    
      font-size: 12px;

  }
  /* .home-nav {
    margin-left: -1rem;
} */

  .main {
  
      width: 87%;
      position: relative;
      right: -8%;
  }



    .logo {
      
      margin-left: 0rem;
  }
  .card {
    width: 95% !important;
    margin-left: 1rem;
    position: relative;
    right: 1%;
   
  }

 .date{
  margin-left: 11rem !important;
 }


  .details h2 {
    font-size: 2rem;
    margin-left: 3rem;
  }
  .home-countries {
    margin-left: 17%;
}
}

@media screen and (max-width: 450px) {
  .header-link {
    /* padding-left: 0rem; */
    /* padding-right: 1rem; */
    position: relative;
    left: 2rem;
    top:-1rem
}
.link-item {

  font-size: 10px;
}

.home-nav {
  display: flex;

}
.logo {
  width: 7rem;
  position: relative;
  top:-1rem;
}
.details {
  
  right: 1%;
}

.main {
  width: 87%;
  position: relative;
  right: -5%;
}
}

@media screen and (max-width: 390px) {


.header-link {

  position: relative;
  left: -1rem;
  top: -1rem;
}
}

@media screen and (max-width: 350px) {


.home-countries {
 
  margin-left: 9%;
}

.card p {

    max-width: 14rem;
  }
}

@media screen and (max-width: 300px) {


.header-link {
  position: relative;
  left: -2rem;
  top: -1rem;
}
.main {
  width: 91%;
}
}