.section-heading-host {
  margin-bottom: 7rem;
  font-size: 4rem;
  text-align: center;
  color: #fc3b0b;
  font-family:'Kite One' ;
  margin-top: 15rem;
}

.host-list-host {
  margin-top: 2rem;
  text-align: center;
  width: 36%;
  height: 22rem;
  /* border: 2px solid #333333; */
  position: relative;
  right: -34%;
  margin-bottom: 17rem;
}

.host-item-host {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 5rem;
  height: 100%;
  
}

.host-image-host {
  width: 33rem;
  height: 33rem;
  border-radius: 1%;
  object-fit: cover;
  margin-left: -10rem;
  margin-right: 34rem;
  margin-top: auto;
}

.host-details-host {
  display: flex;
  flex-direction: column;
}

.host-name-host {
  font-size: 18px;
  font-weight: bold;
  margin-top: -7rem;
  margin-bottom: 2rem;
  font-size: 4rem;
  text-align: center;
  color: #fc3b0b;
  font-family:'Kite One' ;
}

.host-phone-host {
  color: #3b8fdf;
  font-family:'Kite One' ;

  font-size: 16px;
  margin-bottom: 2rem;
}

.host-description-host {
  font-size: 14px;
  color: #777777;
  font-family:'Kite One' ;

}
/*   
  .review-author-host {
    font-size: 16px;
    font-weight: bold;
  }
  
  .review-comment-host {
    font-size: 14px;
    color: #777777;
    margin-top: 5px;
  }
   */

.user-list-section-host {
  display: flex;
  flex-direction: row;
}

.restaurant-card-host {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 3rem;
  font-family:'Kite One' ;

}

.booking-user {
  font-size: 16px;
  font-weight: bold;
}

.booking-email,
.booking-phone {
  font-size: 14px;
  color: #777777;
}

.booking-number {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}

.booking-dates {
  font-size: 14px;
  color: #0662ec;
}

.post-review-section {
  margin-top: 40px;
  border: 2px solid rgb(167, 157, 157);
  box-shadow: 3px 3px 15px 3px gray;
  width: 31rem;
  position: sticky;
  left: 42rem;
  padding: 2rem;
  margin-bottom: 3rem;
}



.section-heading{
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #fc3b0b;
  font-family:'Kite One' ;
}

.form-label {
  font-size: 16px;
  font-weight: bold;
  font-family:'Kite One' ;

  display: block;
  margin-bottom: 5px;
}

.form-textarea,
.form-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-family:'Kite One' ;

  border-radius: 5px;
  border: 1px solid #dddddd;
  margin-bottom: 10px;
}

.form-file-input {
  display: block;
  margin-bottom: 10px;
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-preview-item {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.submit-button {
  padding: 10px 20px;
  font-size: 16px;
  font-family:'Kite One' ;

  background-color: #fc3b0b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #fc3b0b;
  cursor: not-allowed;
}
a {
  text-decoration: none;
  color: gray;
}

.main-host {
  min-height: 50vh;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-top: 31rem;
}

.card-host {


  background: #f1f1f1;
  border-radius: 8px;
  font-family: "Kite One";
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  
 
  width: 33rem !important;
  /* overflow: visible; */
  height: 18rem !important;
  margin-left: 33rem;

}
.card-host img {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
  
  width: 33rem;
  height: 19rem !important;
  object-fit: cover;
  border-radius: 6px;
  height: 10rem;
  margin-right: 8rem;


  /* box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
  margin: 0 0 -117px -6px;
  width: 19%;
  height: 120px;
  object-fit: cover;
  border-radius: 55rem; */
}
.card-host h2 {
  font-size: 18px;
  margin: 8px 0;
  padding: contentPadding;
}

.card-host h2 a {
  color: #545454;
  text-decoration: none;
}
/*..expand the clickable area..*/
.card-host h2 a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*...paragraph text...*/
.card-host p {
  font-size: 14px;
  font-weight: 300;
  margin: 8px 0 0;
  padding: contentPadding;
}

.details-host {
 width: 12rem;
}
.details-host h2 {
  font-size: 2rem;
  font-family:'Kite One' ;
}
